################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CalculoNumerico/.vs/Disseccao/v15
/Newton/.vs/Newton/v15
/EliminacaoGauss/.vs/EliminacaoGauss/v15
/EliminacaoGauss/x64/Debug
/Gauss/.vs/Gauss/v15
/Gauss/Gauss-Jacobi/x64/Debug
/InterpolacaoPolinomial/Lagrange/x64/Debug
/InterpolacaoPolinomial/SistemaLinear/x64/Debug
/InterpolacaoPolinomial/x64/Debug
/InterpolacaoPolinomial/.vs/InterpolacaoPolinomial/v15
/InterpolacaoPolinomial/Newton/x64/Debug
